{% extends 'users/users_base.html' %}
{% load static %}

{% block users-form_title %}
    Забыли пароль?
    <a href='{% url 'login' %}' class="form-cancel">
        <svg class="form-img">
            <use href="{% static 'users/img/sprite.svg' %}#back"></use>
        </svg>
    </a>
{% endblock %}

{% block users-form_text %}
    <div class="form_text">
        Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового пароля.
    </div>
{% endblock %}

{% block users-form_elements %}
    <div class="form_elements">{{ form.email }}</div>
    <div class="form_error">{{ form.email.errors }}</div>
    <div class="form_error">{{ form.non_field_errors }}</div>
    <div class="captcha-block">{{ form.captcha }}</div>
    <div class="form_error">{{ form.captcha.errors }}</div>
    <p><a class="form_link" href="{% url 'login' %}">Я знаю пароль</a></p>
{% endblock %}

{% block users-form_footer %}
    <button class="form-window_button" type="submit">Отправить</button>
{% endblock %}
