{% extends 'main/base.html' %}
{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'users/css/style_for_base_template.css' %}">
{% endblock %}

{% block content %}
    <div class="form-content">
        <div class="form-window">
            <div class="form-window_title" style="font-size: 1.2em">
                Пароль восстановлен
            </div>
            <div class="form-window_body" style="font-size: 1.1em; margin: 20px auto">
                <div class="form_text">Ваш пароль был сохранен. Теперь вы можете войти на сайт.</div>
            </div>
            <div class="form-window_footer">
                <a href="{% url 'login' %}" class="form-window_button" style="text-decoration: none">Войти</a>
            </div>
        </div>
    </div>
{% endblock %}