{% extends 'users/users_base.html' %}
{% load static %}

{% block users-form_title %}
    {% if validlink %}
        Введите новый пароль
    {% else %}
        Ошибка восстановления
    {% endif %}
    <a href='{% url 'login' %}' class="form-cancel">
        <svg class="form-img">
            <use href="{% static 'users/img/sprite.svg' %}#back"></use>
        </svg>
    </a>
{% endblock %}

{% block users-form_text %}
    {% if validlink %}
        <div class="form_text">
            Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.
        </div>
    {% else %}
        <div class="form_text" style="margin: 20px auto; font-size: 1.1em">
            Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста,
            запросите сброс нового пароля.
        </div>
    {% endif %}
{% endblock %}

{% block users-form_elements %}
    {% if validlink %}
        <div class="form_elements">{{ form.new_password1 }}
            <svg class="eye-img">
                <use id="togglePassword_new_1" href="{% static 'users/img/sprite.svg' %}#eye"></use>
            </svg>
        </div>
        <div class="form_error">{{ form.new_password1.errors }}</div>
        <div class="form_elements">{{ form.new_password2 }}
            <svg class="eye-img">
                <use id="togglePassword_new_2" href="{% static 'users/img/sprite.svg' %}#eye"></use>
            </svg>
        </div>
        <div class="form_error">{{ form.new_password2.errors }}</div>
        <div class="form_error">{{ form.non_field_errors }}</div>
    {% endif %}
{% endblock %}

{% block users-form_footer %}
    {% if validlink %}
        <button class="form-window_button" type="submit">Изменить</button>
    {% else %}
        <a href="{% url 'password_reset' %}" class="form-window_button" style="text-decoration: none">Повторить</a>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'users/js/app_reset.js' %}"></script>
{% endblock %}