{% extends 'main/base.html' %}
{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'users/css/style_for_base_template.css' %}">
{% endblock %}

{% block content %}
    <div class="form-content">
        <div class="form-window">
            <div class="form-window_title" style="font-size: 1.2em">
                Письмо отправлено
                <a href='{% url 'home' %}' class="form-cancel">
                    <svg class="form-img">
                        <use href="{% static 'users/img/sprite.svg' %}#back"></use>
                    </svg>
                </a>
            </div>
            <div class="form-window_body" style="justify-content: space-evenly; font-size: 1.1em">
                <div class="form_text">
                    Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если
                    в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</div>
                <div class="form_text">
                    Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы
                        зарегистрировались, и проверьте папку со спамом.
                </div>
            </div>
        </div>
    </div>
{% endblock %}